@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-bold-webfont.woff2') format('woff2'),
        url('../src/font/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-bolditalic-webfont.woff2') format('woff2'),
        url('../src/font/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../src/font/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-extrabolditalic-webfont.woff2') format('woff2'),
        url('../src/font/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-italic-webfont.woff2') format('woff2'),
        url('../src/font/opensans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-light-webfont.woff2') format('woff2'),
        url('../src/font/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-lightitalic-webfont.woff2') format('woff2'),
        url('../src/font/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-regular-webfont.woff2') format('woff2'),
        url('../src/font/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-semibold-webfont.woff2') format('woff2'),
        url('../src/font/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../src/font/opensans-semibolditalic-webfont.woff2') format('woff2'),
        url('../src/font/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@layer base {
    html {
        font-family: 'open_sans', serif;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-line {
    @apply w-[30px] h-[3px] my-2 block bg-green-500;
}

.hamburger-active>span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active>span:nth-child(3) {
    @apply -rotate-45;
}

.hamburger-active>span:nth-child(2) {
    @apply scale-0;
}

.transisi-nav{
    transition: all
}

.navbar-fixed {
    @apply fixed z-10 bg-white bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.img-project{
    @apply mx-2;
}

.img-project > img{
    @apply rounded-md w-full h-[250px] md:hover:scale-105 transition md:w-full md:h-[300px];
}

.navbar-mobile-active{
    @apply  -translate-y-[5px]
}

.sosmed-ig{
    background-image: url(./img/background-ig.jpg);
    background-position: center;
}

